#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.character-finder{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.character-finder img {
  width: 400px;
  margin: 0 auto;
}